@use "../utils/vars.scss" as vars;
@use "../utils/mixin.scss" as mix;
@use "../utils/fun.scss" as fun;

.button {
  padding: fun.em(15);
  border-radius: fun.em(30);
  font-size: fun.em(18);
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
  &.create-invoices__button {
    @include mix.flex(space-between, center, row);
    gap: fun.em(10);
    .plus-container {
      width: fun.em(32);
      height: fun.em(32);
      border-radius: 50%;
      background-color: white;
      @include mix.flex(center, center, row);
    }
    color: white;
    background-color: map-get($map: vars.$primaryColors, $key: "purple");
  }
  &.discard__button {
    color: map-get($map: vars.$primaryColors, $key: "navback");
    background-color: map-get($map: vars.$primaryColors, $key: "textGray");
  }
  &.save__button {
    color: white;
    background-color: map-get($map: vars.$primaryColors, $key: "purple");
  }
  &.delete__button {
    color: white;
    background-color: map-get($map: vars.$primaryColors, $key: "red");
  }
  &.make-as__button {
    color: white;
    background-color: map-get($map: vars.$primaryColors, $key: "purple");
  }
}
