$primaryColors: (
  "purple": #7c5dfa,
  "darktext": #0e0e0e,
  "red": #ef4444,
  "textGray": #979ca6,
  "hashColor": #848ec6,
  "lightOrange": #fff8f0,
  "lightGreen": #f3fdf9,
  "green": #33d69f,
  "orange": #ff8f00,
  "veryVeryLightGray": #fdfdff,
  "grayishBlue": #dfe3fa,
  "navback": #373b53,
);
$lightMode: (
  "lightBackground": #f8f8fb,
);
$darkMode: (
  "darkinvoice": #1e2139,
  "darkbackground": #141625,
);

$transition: 300ms;
