@use "../utils/font.scss" as font;

html {
  height: 100%;
  line-height: 1.6;
}
body {
  font-family: font.$fontFamily;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
